<!DOCTYPE html>
{% load static %}

<html>
<head>
    <title>Simple Form</title>
    <link rel="stylesheet" href="{% static 'css/cystella.css' %}">
</head>
<body>
    
    <form method="POST" class="form-container">
        {% csrf_token %}
        <h2>Patient Details Info</h2>
        <label >Patients Name:</label><br>
        <input type="text" name="name"><br><br>

        <label >Age of patient:</label><br>
        <input type="number" name="age"><br><br>

        <label >Cyst size in cm:</label><br>
        <input type="number" name="cystsize"><br><br>

        <label >Menopause status:</label><br>
        <select name="menopause_status">
            <option value="" name="">--Select--</option>
            <option value="" name="">Postmenopause</option>
            <option value="" name="">Premenopause</option>
            
        </select>
        <br><br>
        <label >CA 125 levels:</label><br>
        <input type="number" name="ca_levels"><br><br>

        <label >Ultrasound features:</label><br>
        <select name="Ultrasound_features">
            <option value="" name="">--Select--</option>
            <option value="" name="">Solid mass </option>
            <option value="" name="">Simple Cyst </option>
            <option value="" name="">Complex Cyst</option>
            <option value="" name="">Septated Cyst</option>
            <option value="" name="">Hemorrhagic Cyst</option>
        </select>
        <br><br>
        
       
        <label >Description:</label><br>
        <textarea name="description" rows="5" cols="40" placeholder="Write something..."></textarea><br><br>

        <label >Region:</label><br>
        <select name="region" id="region">
            <option value="">--Select Region--</option>
            <option value="Eldoret">Eldoret</option>
            <option value="Loitoktok">Loitoktok</option>
            <option value="Mombasa">Mombasa</option>
            <option value="Nairobi">Nairobi</option>
            <option value="Kisumu">Kisumu</option>
            <option value="Machakos">Machakos</option>
            <option value="Embu">Embu</option>
            <option value="Nakuru">Nakuru</option>
            <option value="Moi">Moi</option>
            <option value="Pumwani">Pumwani</option>
            <option value="Garrisa">Garrisa</option>
            <option value="Kitale">Kitale</option>
            <option value="Kakamega">Kakamega</option>
            <option value="Kericho">Kericho</option>
        </select><br><br>
        <input type="submit" value="Submit">
        <div class="button-row">
            <input type="submit" value="Predict">
            <input type="submit" onclick="generateReport()" value="Generate Treatment Report">
            <input type="submit" value="Inventory">
          </div>
        
        
    </form>

    {% if submitted %}
        <p class=".form-container p">Thank you, {{ name }}! We received your submission.</p>
    {% endif %}
    <script>
        async function generateReport() {
            const response = await fetch('http://localhost:8000/generate_report', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({
                region: document.getElementById('region').value,
                management_option: document.getElementById('management').value //Awaiting input from he other  model
            })
            });
            
            if (response.ok) {
            const blob = await response.blob();
            const url = URL.createObjectURL(blob);
            const a = document.createElement('a');
            a.href = url;
            a.download = 'healthcare_report.pdf';
            a.click();
            } else {
            alert(await response.text());
            }
        }
        </script>

</body>
</html>
